/*=======================================================================
	FONTS
=======================================================================*/

@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,600,300|Playfair+Display:700italic,400italic|Crimson+Text:400italic,600italic|Open+Sans:400,700);

$creative-font: 'Playfair Display',
serif;

$main-font: 'Raleway',
sans-serif;

$secondary-font: 'Crimson Text',
serif;