/*=======================================================================
	FONTS
=======================================================================*/

@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,600,300|Playfair+Display:700italic,400italic|Crimson+Text:400italic,600italic|Open+Sans:400,700);
@import url('https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou');

$creative: 'ZCOOL QingKe HuangYou',
cursive;
$base: 'Open Sans',
sans-serif;
$main: 'Raleway',
sans-serif;
$secondary: 'Crimson Text',
serif;


/*=======================================================================
	Colours
=======================================================================*/

$secondary-color: #bbb;
$highlight-color: #b7a389;

$accent-1:#c7ad88;
$accent-2: #ede9ce;
$accent-3: #64706c;
$accent-4: #935347;


$light-grey: #ccc;
$grey-text: #999;
$grey: #f0f0f0;
$black: #333;
$white:#fff;