/*=======================================================================
	Resume Section
=======================================================================*/
.timeline-block {
  padding-bottom: 100px;
}

.timeline-block .timeline {
  padding-bottom: 90px;
  margin-top: 100px;
}

.timeline {
  position: relative;
  list-style: none;
  margin: 0;
}

.timeline:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
  height: 100%;
  width: 2px;
  background: $secondary-color;
  border-radius: 0 0 5px 5px;
}

.timeline>li:before,
.timeline>li:after {
  content: " ";
  display: table;
}

.timeline>li:after {
  clear: both;
}

.timeline>li>.timeline-desc {
  float: right;
}

.timeline>li>.timeline-desc>h4 {
  font-size: 14px;
  letter-spacing: 2px;
  margin-top: 0;
}

.timeline>li>.timeline-content {
  float: left;
  text-align: right;
  position: relative;
}

.timeline>li.inverse>.timeline-content {
  float: right;
  text-align: left;
}

.timeline>li.inverse>.timeline-desc {
  float: left;
  text-align: right;
}

.timeline>li {
  margin: 70px 0;
  position: relative;
}

.timeline>li:not(.timeline-header):before {
  content: " ";
  position: absolute;
  top: 0;
  left: 50%;
  height: 11px;
  width: 11px;

  transform: translateX(-50%) rotate(45deg);
  background: $highlight-color;
}

.timeline>li>div {
  width: 50%;
  padding: 0 35px;
}

.timeline>li>.timeline-content>h4 {
  margin-top: 0;
  margin-bottom: 7px;
  letter-spacing: 2px;
  font-size: 20px;
}

.timeline>li>.timeline-content>span {
  display: block;
  margin-bottom: 15px;
  color: $secondary-color;
}

.timeline>li>.timeline-content>p {
  margin: 0;
  line-height: 1.7em;
  color: #777;
}

.timeline>li.timeline-header {
  background: $white;
  position: relative;
  z-index: 10;
  text-align: center;
  margin-bottom: 100px;
  margin-top: 100px;
}

.timeline>li.timeline-header>h4 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  position: relative;
  margin: 0;
  letter-spacing: 4px;
}

.timeline>li.timeline-header:first-of-type {
  margin-top: 0;
}

.timeline>li.timeline-header>h4:before,
.timeline>li.timeline-header>h4:after {
  content: " ";
  display: block;
  height: 2px;
  background: $secondary-color;
  margin: 0 -5px;
  margin-top: 8px;
}

.timeline>li.timeline-header>h4:before {
  margin-top: 0;
  margin-bottom: 8px;
}

@media (max-width: 992px) {

  .timeline>li:before,
  .timeline:before {
    display: none;
  }

  .timeline>li>.timeline-desc {
    opacity: 0.5;
    text-align: right;
    float: left;
  }

  .timeline>li.inverse>.timeline-desc {
    text-align: left;
    float: right;
  }

  .timeline>li>div {
    width: 85%;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .timeline>li>.timeline-content {
    text-align: right;
  }
}

.info-diamonds {
  padding-top: 100px;
  padding-bottom: 30px;
}

.info-diamonds .section-title {
  margin-bottom: 100px;
}

.hobby {
  position: relative;
  text-align: center;
  margin-bottom: 70px;

  transition: all 0.3s ease-in-out;
}

.hobby>.info-diamond {
  font-size: 0;
  background: $highlight-color;
  color: $white;
  background-image: url(../../assets/img/writing.png);
  background-size: contain;

  transform: rotate(45deg);
  width: 80px;
  height: 80px;
  line-height: 80px;
  margin: auto;
  margin-bottom: 40px;

  transition: all 0.3s ease-in-out;
  position: relative;
  top: 0;
}

.hobby:hover>.info-diamond {
  top: -15px;
}

.hobby>.info-diamond>i {
  display: block;
  height: inherit;
  width: inherit;
  line-height: inherit;
  text-align: center;

  transform: rotate(-45deg);
}

.hobby>.info-diamond>i:before {
  vertical-align: middle;
  font-size: 45px;
  line-height: 1em;
}

.hobby>h4 {
  font-size: 18px;
  letter-spacing: 2px;
  margin-top: 0;
  margin-top: 2px;
}

.skills-block {
  padding: 100px 0;
  padding-bottom: 40px;
}

.skills-block .section-title {
  margin-bottom: 80px;
}

.skill {
  position: relative;
  margin-bottom: 60px;
}

.skill>h4 {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 5px;
  letter-spacing: 2px;
  color: $highlight-color;
}

.skill>.skill-bar {
  height: 10px;
  background: $grey;
}

.skill>.skill-bar>.bar {
  background: #888;
  height: 100%;
  width: 0;
  position: relative;
}

.skill>.skill-bar>.bar>.percent {
  position: absolute;
  padding: 4px 7px;
  background: #888;
  color: $white;
  bottom: 100%;
  right: 0;
  font-size: 11px;
  margin-bottom: 10px;
}

.skill>.skill-bar>.bar>.percent:after {
  content: " ";
  position: absolute;
  border-bottom: solid 7px transparent;
  border-right: solid 7px #888;
  bottom: -7px;
  right: 0;
}