/*=======================================================================
	Single Post Page
=======================================================================*/
.blog-page .post>.content>.post-icons {
    margin-bottom: 30px;
}

.blog-page .post>.content>h4 {
    font-size: 28px;
    margin-bottom: 10px;
}

.blog-page .post>.content>p {
    line-height: 2em;
    text-align: justify;
}