/*=======================================================================
	Front Section
=======================================================================*/
body.section-show .transition-mask {
    position: absolute;
    top: 260px;
    height: 500px;
    width: 500px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 22;
    transform: rotate(45deg);
    overflow: hidden;
    animation: fill2 .8s .4s both ease;
}

body .transition-mask:before {
    content: ' ';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

body.section-show .transition-mask:before {


    animation: fill .4s both ease;
    background: #CCC;
}

@keyframes fill2 {
    0% {
        transform: rotate(45deg);
    }

    100% {
        z-index: 50;
        transform: rotate(0deg);
        height: 100%;
        width: 100%;
        top: 0;
        bottom: auto;
    }
}

@keyframes fill {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

.front-section {
    padding-top: 60px;
    padding-bottom: 200px;
    position: relative;
}

.front-heading {
    text-align: center;
    margin-top: 190px;
}

.front-heading>h2 {
    font-size: 55px;
    font-weight: lighter;
    letter-spacing: 15px;
    position: relative;
    position: relative;
    line-height: 1em;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    z-index: 10;
    color: #999;
    font-family: 'Playfair Display', serif;
    font-style: italic;
}

.front-person-img {
    width: 500px;
    height: 500px;
    overflow: hidden;
    background: #F0F0F0;
    position: relative;
    z-index: 15;
    transition: height .5s .3s ease, transform .5s .8s ease;
    margin: 200px auto;
    margin-bottom: 0;
    transform: rotate(405deg);
    border-radius: 0;
}

.front-person-img>img {
    width: 500px;
    height: 500px;
    overflow: hidden;
    background: #F0F0F0;
    position: relative;
    padding: 50px;
    transform: rotate(-90deg);
}

.front-person-titles {
    position: relative;
    z-index: 10;
    height: 500px;
    width: 500px;
    margin: auto;
    margin-top: -500px;
    transform: rotate(45deg);
}

.front-person-titles>span {
    position: absolute;
    z-index: 5;
    display: block;
    width: 100%;
    font-family: Hind, sans-serif;
    color: #CCC;
    text-align: center;
    font-size: 24px;
    letter-spacing: 25px;
    line-height: 1em;
    text-transform: lowercase;
}

.front-person-titles>.t1 {
    left: 5px;
    bottom: 0;
    transform: rotate(-90deg) translateY(-100%);
    transform-origin: 0% 0%;
}

.front-person-titles>.t2 {
    top: 5px;
    left: 0;
    transform: translateY(-100%);
}

.front-person-titles>.t3 {
    left: 0;
    bottom: 5px;
    transform: translateY(100%) rotate(180deg);
}

.front-person-links {
    margin: auto;
    width: 500px;
    height: 500px;
    margin-top: -500px;
    z-index: 25;
    transform: rotate(45deg);
    position: relative;
}

.front-person-links>ul>li {
    display: block;
}

.front-person-links>ul {
    font-size: 0;
    z-index: 99;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: -15px;
}

.front-person-links>ul>li>a {
    font-weight: bold;
    display: block;
    font-size: 14px;
    padding: 25px 0;
    cursor: pointer;


    transition: all .3s ease;
    position: relative;
    color: #999;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-decoration: none;
    line-height: 1em;
}

.front-person-links>ul>li>a:before,
.front-person-links>ul>li>a:after {
    content: ' ';
    height: 6px;
    width: 15px;
    background: #CCC;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    margin-right: 15px;
    font-size: 0;
    transition: all .3s ease;
    display: none;
}

.front-person-links>ul>li>a:after {
    margin-left: 15px;
    margin-right: 0;
    display: none;
}

.front-person-links>ul>li>a:hover {
    color: #B7A389;
}

.front-person-links>ul>li>a:hover:after,
.front-person-links>ul>li>a:hover:before {
    width: 25px;
    background: #999;
}