@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes expandDiamond {
    from {
        opacity: 0;
        width: 0;
    }

    to {
        opacity: 1;
        width: $diamond-demension;
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }

    to {

        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes rotateIn {
    0% {
        transform-origin: center;
        transform: rotate3d(0, 0, 1, 0);
        opacity: 0;
    }

    50% {
        opacity: 0.3;
    }

    75% {
        opacity: 0.4;
    }

    100% {
        transform-origin: center;
        transform: translate3d(0, 0, -45deg);
        opacity: 1;
    }
}

.fadeInUp {
    animation: fadeInUp 4s;

    @for $i from 2 through 5 {
        &:nth-child(#{$i}) {
            animation-delay: 0.09s * $i;
        }
    }
}

.fadeInDown {
    animation: fadeInDown 3s;
}

.fadeIn {
    animation: fadeIn 10s;
}

.fadeInNav {
    animation: fadeIn 5s;
}

.rotateIn {
    animation: rotateIn 2s ease-in-out;
}

.expandDiamond {
    animation: expandDiamond 1s;
}