/*=======================================================================
	General CSS
=======================================================================*/
* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: $base;
    font-size: 16px;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: bold;
    font-family: $main;
}

img {
    max-width: 100%;
}

.parallax {
    background-size: cover;
}

body.section-show {
    overflow: hidden;
}

body a.close-btn,
.section-show .close-btn {
    opacity: 1;
    z-index: 100;
    transition: opacity 0.4s 1.2s ease, background 0.3s ease;
    overflow: hidden;
}

.close-btn {
    position: fixed;
    height: 64px;
    width: 64px;
    cursor: pointer;
    display: block;
    top: 18px;
    right: 18px;
    opacity: 0;
    z-index: -99;
}

.close-btn>span {
    height: 3px;
    width: 40px;
    background: $secondary-color;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -1.5px;
}

.close-btn>span:before {
    content: " ";
    position: absolute;
    top: 0;
    width: 0;
    height: inherit;
    background: $highlight-color;
}

.close-btn>span:nth-of-type(1) {
    transform: rotate(45deg);
}

.close-btn>span:nth-of-type(2) {
    transform: rotate(-45deg);
}

.close-btn>span:nth-of-type(1):before {
    left: 0;
}

.close-btn>span:nth-of-type(2):before {
    right: 0;
}

.close-btn:hover>span {
    background: transparent;
}

.close-btn:hover>span:before {
    transition: all 0.3s ease;
    width: 100%;
}

.close-btn:hover>span:nth-of-type(2):before {
    transition-delay: 0.3s;
}

.section-title {
    margin: 2em 0em;

    h2 {
        font-size: 32px;
        letter-spacing: 6px;
        color: $black;
        margin-top: 0;
        margin-bottom: 35px;
        font-weight: 300;
    }

    p {
        margin-top: 30px;
        line-height: 1.7em;
        color: #8a8a8a;
        font-size: 16px;
    }

}

#wrapper {
    overflow-x: hidden;
}

.front-section {
    color: $white;
}

.section {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: solid 4px $secondary-color;
    padding-top: 100px;
    z-index: -9;
    background: $white;
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

body.section-show .section.active {
    transition: opacity 0.4s 1.2s ease;
    z-index: 99;
    opacity: 1;
    visibility: visible;
}

.bg-lightgray {
    background: #f5f5f5;
}


.section-block>.container,
.section-block {
    position: relative;
}

.section-block {
    overflow: hidden;
    margin-top: 2em !important;
}

#diamond-wrapper {
    margin-top: -75px;
}

.links {
    li {
        list-style: none;
    }

    a {
        color: $accent-3;

        &:hover {
            color: $accent-1;
        }
    }
}

.social-links {
    display: flex;
    justify-content: space-around;
}

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background: #333;
    margin-bottom: 2em;

    .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        padding: 50px 20px;
    }

    img {
        display: block;
        position: relative;
        max-width: none;
        width: calc(100% + 20px);
        transition: opacity 0.35s, transform 0.35s;
        transform: translate3d(-10px, 0, 0);
        backface-visibility: hidden;
    }

    &:hover img {
        opacity: 0.4;
        filter: alpha(opacity=40);
        transform: translate3d(0, 0, 0);
    }

    h2 {
        text-transform: uppercase;
        color: #333;
        text-align: center;
        position: relative;
        font-size: 17px;
        overflow: hidden;
        padding: 0.5em 0;
        background-color: transparent;

        &:after {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background: #fff;
            content: '';
            transition: transform 0.35s;
            transform: translate3d(-100%, 0, 0);
        }
    }

    &:hover h2:after {
        transform: translate3d(0, 0, 0);
    }

    a,
    p {
        color: $black;
        opacity: 0;
        filter: alpha(opacity=0);
        transition: opacity 0.35s, transform 0.35s;
        transform: translate3d(100%, 0, 0);
    }

    &:hover {
        h2 {
            color: $white;
        }

        a,
        p {
            color: $white;
            opacity: 1;
            filter: alpha(opacity=100);
            transform: translate3d(0, 0, 0);
        }
    }
}

.contact-message-hidden {
    transition: all 4s ease;
    opacity: 0;
}

.contact-message {
    transition: all 4s ease;
    opacity: 1;
}

.input-error {
    border: solid 1px $accent-4 !important;
}

.readme {
    font-size: 16px;
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: justify;
}

.ah-btn {
    padding: 0.5em;
    border: solid 1px lighten($black, 20);
    border-radius: 3px;
    margin: 1em;
}



a {
    color: $nuxt-green;

    &:hover {
        text-decoration: none;
        color: darken($nuxt-green, 20);
    }
}

// overrides
p {
    margin: 0.5em 0 !important;
}

.v-switch-label {
    line-height: 25px !important;
}